* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 40px;
    width: 100%;
    min-height: 100vh;
}

.container {
    display: grid;
    /* grid-template-columns: 200px auto 100px; */
    /* grid-template-rows: 200px auto 100px; */
    grid-template-columns: .8fr .2fr;
    grid-template-rows: 0.1fr .4fr .4fr .1fr;
}

header {
    grid-column: 1/3;
    grid-row: 1/2;
    height: 10vh;
    background-color: grey;
    margin-bottom: 10px;
}

.box-2 {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: red;
    height: 39vh;
}

.box-3 {
    grid-row: 3/4;
    grid-column: 1/2;
    background-color: sandybrown;
    height: 39vh;
}

.box-4 {
    grid-column: 2/3;
    grid-row: 2/4;
    /* height: 30vh; */
    background-color: yellow;
}

footer {
    grid-column: 1/3;
    grid-row: 4/5;
    background-color: grey;
    margin-top: 10px;
    height: 10vh;
}

@media (max-width:768px) {
    .container {
        display: grid;
        /* height: 100vh;
        width: 100%; */
        grid-template-columns: .5fr .5fr;
        grid-template-rows: .1fr .4fr .4fr .1fr;
    }
    header {
        background-color: grey;
        margin-bottom: 10px;
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .box-2 {
        background-color: red;
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .box-3 {
        background-color: sandybrown;
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .box-4 {
        background-color: yellow;
        grid-column: 2/3;
        grid-row: 2/4;
    }
    footer {
        background-color: grey;
        grid-column: 1/3;
        grid-row: 4/5;
    }
}

@media (max-width:375px) {
    .container {
        display: flex;
        /* height: 100vh;
        width: 100%; */
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    header {
        background-color: grey;
        margin-bottom: 10px;
        height: 16vh;
        width: 100%;
    }
    .box-2 {
        background-color: red;
        height: 22vh;
        width: 100%;
    }
    .box-3 {
        background-color: sandybrown;
        height: 22vh;
        width: 100%;
    }
    .box-4 {
        background-color: yellow;
        height: 22vh;
        width: 100%;
    }
    footer {
        background-color: grey;
        height: 16vh;
        width: 100%;
    }
}