* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: .3fr .4fr .3fr;
    grid-template-rows: .2fr .6fr .2fr;
}

header {
    grid-column: 1/4;
    grid-row: 1/2;
    background-color: gray;
    margin-bottom: 15px;
    height: 10vh;
}

.a {
    grid-column: 2/3;
    grid-row: 2/3;
    height: 76vh;
    background-color: green;
}

.b {
    grid-column: 1/2;
    grid-row: 2/3;
    height: 76vh;
    background-color: darkgreen;
}

.c {
    grid-column: 3/4;
    grid-row: 2/3;
    height: 76vh;
    background-color: yellow;
}

footer {
    grid-column: 1/4;
    grid-row: 3/4;
    background-color: gray;
    margin-top: 15px;
    height: 10vh;
}

@media (max-width:768px) {
    body {
        min-height: 100vh;
        width: 100%;
        display: grid;
        grid-template-columns: .5fr .5fr;
        grid-template-rows: .1fr .5fr .3fr .1fr;
    }
    header {
        grid-column: 1/3;
        grid-row: 1/2;
        background-color: gray;
        margin-bottom: 15px;
        height: 10vh;
    }
    .a {
        grid-column: 1/3;
        grid-row: 2/3;
        height: 40vh;
        background-color: green;
    }
    .b {
        grid-column: 1/2;
        grid-row: 3/4;
        height: 30vh;
        background-color: darkgreen;
    }
    .c {
        grid-column: 2/3;
        grid-row: 3/4;
        height: 30vh;
        background-color: yellow;
    }
    footer {
        grid-column: 1/3;
        grid-row: 4/5;
        background-color: gray;
        margin-top: 15px;
        height: 10vh;
    }
}

@media (max-width:768px) {
    body {
        min-height: 100vh;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: .1fr .4fr .2fr .2fr .1fr;
    }
    header {
        grid-column: 1/1;
        grid-row: 1/2;
        background-color: gray;
        margin-bottom: 15px;
        height: 10vh;
    }
    .a {
        grid-column: 1/1;
        grid-row: 2/3;
        height: 40vh;
        background-color: green;
    }
    .b {
        grid-column: 1/1;
        grid-row: 3/4;
        height: 20vh;
        background-color: darkgreen;
    }
    .c {
        grid-column: 1/1;
        grid-row: 4/5;
        height: 20vh;
        background-color: yellow;
    }
    footer {
        grid-column: 1/1;
        grid-row: 5/6;
        background-color: gray;
        margin-top: 15px;
        height: 10vh;
    }
}